
<p>Это стартовая страница, выше данного параграфа есть навигационное меню с одним пунктом. Это иллюзия выбора, что поделать, мы живем в такое время. А теперь скорее делайте свой выбор и посмотрите на разнообразие пользователей и их постов.</p>
<p><b>UPD</b> подъехал новый пункт. Выбора стало больше.</p>